!!! 5
html(xmlns='http://www.w3.org/1999/xhtml', xmlns:fb='http://ogp.me/ns/fb#')
  head
    title= title
    meta(charset='utf-8')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.2.2/underscore-min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/backbone.js/0.5/backbone-min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/coffee-script/1.1.2/coffee-script.min.js')
    script(type='text/coffeescript', src='/javascripts/client.coffee')
  body
    #fb-root
    != body
